# Ejercicio - Busqueda de Alojamiento en Airbnb.

Supongamos que somos un agente de [Airbnb](http://www.airbnb.com) localizado en Lisboa, y tenemos que atender peticiones de varios clientes. Tenemos un archivo llamado `airbnb.csv` (en la carpeta data) donde tenemos información de todos los alojamientos de Airbnb en Lisboa.

In [1]:
import pandas as pd
df_airbnb = pd.read_csv("./data/airbnb.csv", sep = ",")

In [2]:
df_airbnb.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
1,17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

In [52]:
paises = df_airbnb["neighborhood"].unique()
paises

array(['Belém', 'Alvalade', 'Santa Maria Maior', 'Estrela', 'Alcântara',
       'Misericórdia', 'Avenidas Novas', 'Lumiar', 'São Vicente',
       'Campo de Ourique', 'Santo António', 'São Domingos de Benfica',
       'Parque das Nações', 'Penha de França', 'Arroios', 'Beato',
       'Campolide', 'Benfica', 'Areeiro', 'Ajuda', 'Carnide', 'Olivais',
       'Santa Clara', 'Marvila'], dtype=object)

In [3]:
df_airbnb.dtypes

room_id                   int64
host_id                   int64
room_type                object
neighborhood             object
reviews                   int64
overall_satisfaction    float64
accommodates              int64
bedrooms                float64
price                   float64
dtype: object

En concreto el dataset tiene las siguientes variables:
- room_id: el identificador de la propiedad
- host_id: el identificador del dueño de la propiedad
- room_type: tipo de propiedad (vivienda completa/(habitacion para compartir/habitación privada)
- neighborhood: el barrio de Lisboa
- reviews: El numero de opiniones
- overall_satisfaction: Puntuacion media del apartamento
- accommodates: El numero de personas que se pueden alojar en la propiedad
- bedrooms: El número de habitaciones
- price: El precio (en euros) por noche

## Usando Pandas

### Caso 1.

Alicia va a ir a Lisboa durante una semana con su marido y sus 2 hijos. Están buscando un apartamento con habitaciones separadas para los padres y los hijos. No les importa donde alojarse o el precio, simplemente quieren tener una experiencia agradable. Esto significa que solo aceptan lugares con más de 10 críticas con una puntuación mayor de 4. Cuando seleccionemos habitaciones para Alicia, tenemos que asegurarnos de ordenar las habitaciones de mejor a peor puntuación. Para aquellas habitaciones que tienen la misma puntuación, debemos mostrar antes aquellas con más críticas. Debemos darle 3 alternativas.

In [1]:
import pandas as pd

# Cargar el archivo CSV
df = pd.read_csv("./data/airbnb.csv", sep=",")

# Filtrar por el vecindario "Belém" "no hay lisboa en la data airbnb.csv"
df_filter = df[df["neighborhood"] == "Belém"]

# Aplicar la condición adicional de puntuación y número de críticas
df_filter = df_filter[(df_filter['overall_satisfaction'] > 4) & (df_filter['reviews'] > 10)]

# Ordenar los apartamentos por puntuación y número de críticas
df_ordenado = df_filter.sort_values(by=['overall_satisfaction', 'reviews'], ascending=[False, False])

# Tomar las 3 mejores opciones
mejores_opciones = df_ordenado.head(3)

# Mostrar las mejores opciones
mejores_opciones

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
3537,5509602,21501633,Entire home/apt,Belém,131,5.0,5,2.0,79.0
1243,1506789,8048828,Entire home/apt,Belém,122,5.0,4,1.0,58.0
3586,5591740,2192226,Entire home/apt,Belém,90,5.0,4,2.0,46.0

### Caso 2

Roberto es un casero que tiene una casa en Airbnb. De vez en cuando nos llama preguntando sobre cuales son las críticas de su alojamiento. Hoy está particularmente enfadado, ya que su hermana Clara ha puesto una casa en Airbnb y Roberto quiere asegurarse de que su casa tiene más críticas que las de Clara. Tenemos que crear un dataframe con las propiedades de ambos. Las id de las casas de Roberto y Clara son 97503 y 90387  respectivamente. Finalmente guardamos este dataframe como excel llamado "roberto.xls

In [40]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 5.1 MB/s eta 0:00:00:00:01
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [43]:
import pandas as pd
# creacion de df a partir de una lista
lista = [
            ["Roberto", 97503, "home", 110, 8], #fila 1
            ["Clara", 90387, "home", 50, 6.5]   #fila 2
        ]

# nombre de columnas
columnas= ["Name_ID", "Codigo_Id", "room_type", "reviews", "overall_satisfaction"]
df = pd.DataFrame(lista, columns = columnas)

# Guardar el DataFrame como un archivo Excel
df.to_excel("roberto.xlsx", index=False)
df

   Name_ID  Codigo_Id room_type  reviews  overall_satisfaction
0  Roberto      97503      home      110                   8.0
1    Clara      90387      home       50                   6.5


### Caso 3

Diana va a Lisboa a pasar 3 noches y quiere conocer a gente nueva. Tiene un presupuesto de 50€ para su alojamiento. Debemos buscarle las 10 propiedades más baratas, dandole preferencia a aquellas que sean habitaciones compartidas *(room_type == Shared room)*, y para aquellas viviendas compartidas debemos elegir aquellas con mejor puntuación.

In [44]:
df_airbnb.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
1,17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

In [9]:
import pandas as pd

# Leer el archivo CSV que contiene los datos de Airbnb
df = pd.read_csv("./data/airbnb.csv", sep=",")

# Filtrar propiedades que cumplan con las condiciones
condicion = (df["neighborhood"] == "Santa Maria Maior") & (df["price"] <= 50)
df_filtrado = df[condicion]

# Para las habitaciones compartidas, ordenar por precio y puntuación
df_compartidas = df_filtrado[df_filtrado["room_type"] == "Shared room"]
df_compartidas_ordenadas = df_compartidas.sort_values(by=["price", "overall_satisfaction"], ascending=[True, False])

# Tomar las 10 propiedades más baratas
mejores_opciones = df_compartidas_ordenadas.head(10)

# Mostrar las mejores opciones
mejores_opciones

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
3562,5557699,28812904,Shared room,Santa Maria Maior,22,4.0,1,1.0,10.0
4353,6728244,28812904,Shared room,Santa Maria Maior,8,4.5,1,1.0,11.0
6640,11693356,28812904,Shared room,Santa Maria Maior,3,4.5,1,1.0,11.0
6641,11693442,28812904,Shared room,Santa Maria Maior,16,4.5,1,1.0,11.0
3597,5610245,29084261,Shared room,Santa Maria Maior,8,4.0,4,1.0,11.0
6639,11693115,28812904,Shared room,Santa Maria Maior,5,3.5,1,1.0,11.0
4354,6728398,28812904,Shared room,Santa Maria Maior,3,2.5,1,1.0,11.0
4319,6691321,28812904,Shared room,Santa Maria Maior,1,0.0,1,1.0,11.0
7904,13520423,77663975,Shared room,Santa Maria Maior,7,4.5,10,1.0,15.0
2429,3341005,989214,Shared room,Santa Maria Maior,36,4.5,9,1.0,21.0